.parent{

}

.container{
    border: 5px solid black;
    background-color: blanchedalmond;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}

.button{
    background-color: blueviolet;
    border: 1px solid black;
    margin-left: 5px;

}

.card{
    width: 300px;
    border: 5px solid black;
    background-color: aquamarine;
}

.cards{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
}